data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/augmented/*
!data/augmented/.gitkeep
data/enhanced/*
!data/enhanced/.gitkeep

output/*
!output/.gitkeep
code/wandb

__pycache__/
*.py[cod]

*.csv