data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/augmented/*
!data/augmented/.gitkeep
!data/agumented/train_llm_v1.csv
data/final/*
!data/final/.gitkeep

output/*
!output/.gitkeep
code/wandb

__pycache__/
*.py[cod]

*.csv

mecab*

# 특정 파일 무시
src/streamlit_app/app.py
